:root, [data-theme=light] {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

[data-theme=dark] {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #c2c2c2;
  --bg-color: #151421;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-grey: #100f19;
  --bg-lightgrey: #100f19;
  --layer: rgba(29, 42, 55, 0.8);
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.8s ease-in-out;
  padding: 0;
  height: 100px;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.nav-header.bg-show-menu {
  background: rgba(0, 0, 0, 0.85);
  border-bottom: none;
}
.nav-header.nav-header-fixed {
  height: 80px;
  background-color: var(--bg-color);
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.nav-header.nav-header-fixed .container .nav-link-logo {
  text-decoration: none;
}
.nav-header.nav-header-fixed .container .nav-link-logo .logo {
  color: var(--heading-color);
}
.nav-header.nav-header-fixed .container .nav-link {
  color: var(--heading-color);
  opacity: 0.7;
}
.nav-header.nav-header-fixed .container .light-dark-btn {
  color: var(--heading-color);
  opacity: 0.7;
}
@media (max-width: 991px) {
  .nav-header.nav-header-fixed .container nav {
    top: 80px;
  }
  .nav-header.nav-header-fixed .container nav.show {
    background: var(--bg-color);
  }
  .nav-header.nav-header-fixed .container nav.show .nav-link {
    color: var(--heading-color);
    opacity: 0.7;
  }
}
.nav-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-right: 0rem;
  padding-bottom: 1.25rem;
  padding-left: 0rem;
}
.nav-header .container .icon-logo {
  display: inline-block;
  color: var(--primary-color);
  margin-top: 0rem;
  margin-right: 0.3125rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}
.nav-header .container .icon-logo svg {
  width: 2rem;
  height: 2rem;
}
.nav-header .container .logo {
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease-in;
  font-size: 2rem;
  line-height: 2rem;
}
.nav-header .container nav {
  margin-right: 3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.8rem;
}
.nav-header .container nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  position: relative;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.nav-header .container nav .nav-link:hover {
  color: var(--primary-color);
  opacity: 1;
}
.nav-header .container nav .nav-link.active {
  color: var(--primary-color);
  opacity: 1;
}
.nav-header .container nav .light-dark-btn {
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 0.0625rem;
  padding-right: 0.0625rem;
  padding-bottom: 0.0625rem;
  padding-left: 0.0625rem;
  transition: all 0.3s ease-in;
}
.nav-header .container nav .light-dark-btn svg {
  width: 20px;
  height: 20px;
}
.nav-header .container nav .light-dark-btn:hover {
  color: var(--primary-color);
  opacity: 1;
}
.nav-header .container .bars-icon {
  display: none;
  transition: all 0.3s ease-in;
}
@media (max-width: 991px) {
  .nav-header .container .bars-icon {
    display: block;
    cursor: pointer;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
    z-index: 2;
  }
  .nav-header .container nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 100px;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 8px 8px;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    overflow: hidden;
    gap: 1rem;
  }
  .nav-header .container nav.show {
    height: 100%;
    opacity: 1;
    overflow: hidden;
    height: 250px;
    z-index: 2;
  }
  .nav-header .container nav .nav-link {
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }
}/*# sourceMappingURL=Header.css.map */