@import "../../styles/mixins";
@import "../../styles/variables";

.error {
    padding: 2rem 0;
    background-color: var(--bg-grey);

    .container {
        @include container-styles;

        .error-content {
            text-align: center;

            .error-404 {
                font-size: 120px;
                line-height: 1;
                text-align: center;
                flex-basis: 100%;
                color: var(--primary-color);
                display: inline-block;
                font-weight: 700;
            }

            .p-error {
                font-weight: 600;
                line-height: 2.25rem;
                margin: 1rem 0 1.25rem;
                color: var(--heading-color);
                @include font-size(26);
            }


        }

    }
}