* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 1rem;
   font-family: "Jost", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: background-color 0.8s ease-in-out;
   // @include transition-ease-in-out;
}

// remove css default
h1,
h2,
h3,
h4,
h5,
p {
   padding: 0;
   margin: 0;
   font-weight: normal;
}

// navlink
a:-webkit-any-link {
   color: #000;
   text-decoration: none;
   display: block;

   &:active {
      color: #000;
   }
}

img {
   max-width: 100%;
   height: auto;
}

//reponsive for container
.container {
   width: 100%;
   max-width: 1100px;
   @include padding(0, 15, 0, 15);
   @include margin(0, auto, 0, auto);

   @include responsive-max(1200px) {
      max-width: 900px;
   }

   @include responsive-max(992px) {
      max-width: 720px;
   }

   @include responsive-max(768px) {
      max-width: 95%;
   }

   @include responsive-max(576px) {
      max-width: 90%;

   }

}


//css default
.btn {
   color: #fff;
   background-color: #00a63f;
   border: 1px solid transparent;
   font-size: 1rem;
   font-weight: 600;
   transition: 0.3s ease-in;
   border-radius: var(--border-radius);
   z-index: 1;
   cursor: pointer;

   @include padding(15, 50, 15, 50);
   @include line-height(18);
   @include margin(30, 0, 0, 0)
}

.btn:hover {
   color: #fff;
   background-color: #008030;
   border-color: #00732c;
}


.title-small {
   font-weight: 600;
   letter-spacing: 1px;
   color: #7e7d7d;
   letter-spacing: 1px;
   @include font-size(14);
   @include line-height(30);
}

.title-big {
   font-weight: 700;
   color: var(--heading-color);
   @include font-size(34);
   @include line-height(45);

   //responsive
   @include responsive-max(1080px) {
      @include font-size(32);
      @include line-height(40);
   }

   @include responsive-max(568px) {
      @include font-size(30);
      @include line-height(38);
   }

   @include responsive-max(415px) {
      @include font-size(26);
      @include line-height(32);
   }

   @include responsive-max(375px) {
      @include font-size(24);
      @include line-height(30);
   }
}

.h4-content {
   font-size: 1.5rem;
   color: var(--heading-color);

}

.p-title {
   display: block;
   color: var(--heading-color);
   font-weight: 600;
   line-height: 1.2rem;
   cursor: pointer;
   @include font-size(22);
   @include transition-ease-in;
}

.p-title:hover {
   color: var(--primary-color);
}

.p-content {
   @include font-size(17);
   @include line-height(27);
   color: var(--font-color);
   opacity: 0.8;
}

// box css

.box {
   border-radius: 8px;
   background-color: var(--bg-lightgrey);
   box-shadow: var(--box-shadow);
   @include padding(50, 35, 50, 35);
   @include flex(center, flex-start, row);
   gap: 1.5rem;

   //resonsive 
   // resposive
   @include responsive-min(992px) {
      padding: 3rem 1rem;
   }

   @include responsive-max(415px) {
      padding: 1.5rem .8rem;
   }

   .icon-left {
      color: var(--primary-color);

      svg {
         width: 40px;
         height: 40px;
      }

   }

   .content-right {
      .p-title {
         margin-bottom: 1rem;
      }
   }


}

// title
.title {
   max-width: 800px;
   text-align: center;
   margin: auto;
   margin-bottom: 3rem;

   //responsive 
   @include responsive-max(768px) {
      margin-bottom: 1.5rem;
   }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   /* Remove the default styles */
   margin: 0;
   /* Remove any margins */
}

/* Hide number input spinners for Firefox */
input[type=number] {
   -moz-appearance: textfield;
   /* Remove the spinner controls */
}