body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 1rem;
   font-family: "Jost", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a:-webkit-any-link {
   color: #000;
   text-decoration: none;
   display: block;

   &:active {
      color: #000;
   }
}

.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;

   @include responsive-min(576px) {
      max-width: 540px;
   }

   @include responsive-min(768px) {
      max-width: 720px;
   }

   @include responsive-min(992px) {
      max-width: 992px;
   }

   @include responsive-min(1200px) {
      max-width: 1140px;
   }

}

.data-delay-8 {
   --animate-delay: 0.8s;
}

.data-delay-1 {
   --animate-delay: 0.5s;
}

.data-delay-10 {
   --animate-delay: 1.5s;
}

.btn {
   color: #fff;
   background-color: #00a63f;
   border: 1px solid transparent;
   padding: 15px 50px;
   font-size: 16px;
   line-height: 18px;
   font-weight: 600;
   transition: 0.3s ease-in;
   border-radius: var(--border-radius);
   margin-top: 1.9rem;
   z-index: 1;
}