@import "../../styles/mixins";
@import "../../styles/variables";

.gallery {
    padding: 3rem 0;
    background: var(--bg-lightgrey);
    ;

    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;

        //responsive
        @include responsive-max(576px) {
            max-width: 90%;
            padding: 2rem 0.5rem;

        }

        //gallery-photo 
        .gallery-photo {
            @include grid-column(3, 1fr);
            gap: 30px;

            @include responsive-max(992px) {
                grid-template-columns: repeat(2, 1fr);

            }

            @include responsive-max(768px) {
                grid-template-columns: repeat(1, 1fr);

            }

            .photo-item {
                cursor: pointer;
                overflow: hidden;
                position: relative;
                border-radius: 10px;

                //img
                img {
                    display: block;
                    width: 100%;
                }

                &:hover img {
                    transform: scale(1.1);
                    @include transition-ease-in-0ut-3;
                }

                // hover-overlay
                .hover-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: var(--layer);
                    transition: all 0.3s;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 1;
                }

                &:hover .hover-overlay {
                    opacity: 1;
                    visibility: visible;
                }

                // hover content
                .hover-content {
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s;
                    padding: 46px 50px;
                    color: #ffffff;
                    z-index: 2;
                    text-align: left;
                    

                    .title {
                        font-weight: 600;
                        color: #fff;
                        display: block;
                        @include font-size(24);
                        @include margin(0, 0, 10, 0);
                        text-align: left;
                    }

                    .content {
                        font-size: 1rem;
                        color: #eee;
                        display: block;
                        text-align: left;
                    }
                }

                &:hover .hover-content {
                    bottom: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }


        }


        // gallery modal styles
        .gallery-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 3;
            overflow: hidden;
            @include flex(center, center, row);
         

            .img-box {
                position: relative;


                .close-button {
                    position: absolute;
                    top: -44px;
                    right: 0px;
                    color: white;
                    font-size: 2.5rem;
                    cursor: pointer;
                }

                .image-gallery {
                    max-width: 80vw;
                    width: 100%;
                }
            }
        }


    }
}