@import "../../styles/mixins";
@import "../../styles/variables";

.contact-us {
    padding: 3rem 0;
    text-align: center;
    background: var(--bg-color);

    //container of adress
    .container {
        @include container-styles;

        //adress part
        .adress {
            margin: auto;


            //adress-title
            .adress-title {
                max-width: 800px;
                margin: 0 auto 3rem;

                //responsive
                @include responsive-max(768px) {
                    margin-bottom: 1.5rem;
                }
            }

            .adress-list-box {
                @include grid-column(3, 1fr);
                gap: 30px;

                //responsive
                @include responsive-max(992px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.5rem;
                }

                @include responsive-max(768px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                //adress-box
                .adress-box {
                    gap: 1rem;
                    padding: 2.5rem 1rem;
                    background: var(--bg-grey);
                    @include flex(center, flex-start, row);

                    //responsive
                    @include responsive-max(768px) {
                        @include flex(flex-start, flex-start, row);
                    }

                    //responsive nth:first-child
                    &:nth-child(1) {
                        @include responsive-max(992px) {
                            grid-column: span 2;
                        }

                        @include responsive-max(768px) {
                            grid-column: span 1;
                        }
                    }

                    //icon-box
                    .icon-box {
                        svg {
                            width: 40px;
                            height: 40px;
                            color: var(--heading-color);

                            //responsive
                            @include responsive-max(1024px) {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }

                    //text-box
                    .text-box {
                        text-align: left;

                        h3 {
                            font-weight: 600;
                            margin-bottom: 0.5rem;
                            @include font-size(22);
                            color: var(--heading-color);
                        }

                        .p-content {
                            color: var(--font-color);
                        }
                    }
                }
            }
        }

        // map part
        .map {
            padding: 3rem 0;

            iframe {
                width: 100%;
                min-height: 400px;
                height: auto;

                //responsive
                @include responsive-max(640px) {
                    min-height: 350px;
                }

                @include responsive-max(568px) {
                    min-height: 300px;
                }

                @include responsive-max(480px) {
                    min-height: 300px;
                }
            }
        }

        // form-container part

        .form-container {
            padding: 1rem;

            //form-title 
            .form-title {
                margin-bottom: 3rem;

                @include responsive-max(992px) {
                    margin-bottom: 1.5rem;
                }
            }

            //form styles
            .form-input {
                gap: 20px;
                @include grid-column(2, 1fr);

                //responsive form-input
                @include responsive-max(568px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                //input styles
                .input {
                    width: 100%;
                    color: var(--font-color);
                    background: var(--bg-grey);
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    border: none;
                    font-family: inherit;
                    padding: 0px 25px;
                    border: 1px solid var(--border-color-light);
                    outline: none;
                    border-radius: var(--border-radius);
                    display: inline-block;
                    line-height: 50px;
                    box-shadow: none;


                }

                // textarea styles
                textarea {
                    grid-column: span 2;
                    resize: none;
                    overflow: auto;

                    //responsive textarea
                    @include responsive-max(568px) {
                        grid-column: span 1;
                    }
                }

                .button {
                    grid-column: span 2;
                    .btn{
                        margin-top: 0;
                    }

                    //responsive button
                    @include responsive-max(568px) {
                        grid-column: span 1;
                    }
                }
            }
        }
    }


}