@import "../../styles/mixins";
@import "../../styles/variables";

.industry {
    padding: 3rem 0;
    background: var(--bg-color);

    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;

        //responsive
        @include responsive-max(576px) {
            max-width: 90%;
            padding: 2rem 0.5rem;

        }

        //industry title
        .industry-title {
            max-width: 800px;
            text-align: center;
            margin: auto;
            margin-bottom: 3rem;

            //responsive 
            @include responsive-max(768px) {
                margin-bottom: 1.5rem;
            }
        }

        //industry-list-box
        .industry-list-box {
            @include grid-column(3, 1fr);
            gap: 2rem;

            // responsive
            @include responsive-max(992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include responsive-max(678px) {
                gap: 1.5rem;
            }

            @include responsive-max(568px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .box {

                // responsive
                @include responsive-max(678px) {}
            }
        }
    }


}