@import "../../styles/mixins";
@import "../../styles/variables";

.back-to-top {
    z-index: 10;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    cursor: pointer;
    @include flex(center, center, row);
    @include transition-ease-in-0ut-3;

    &:active {
        scale: 0.98;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}