@import "../../styles/mixins";
@import "../../styles/variables";

.banner-wrap {
    height: auto;
    position: relative;
    overflow: hidden;

    .shape {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        z-index: 1;
        sgv{
            width: 100%;
        }
        path{
            fill: var(--bg-color);
            transition: fill 0.8s ease-in-out;
        }
    }

    .banner-slider {
        min-height: 800px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        height: auto;
        position: relative;
        overflow: hidden;

        .shape {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        @include flex(center, center, row);

        //responsive
        @include responsive-max(991px) {
            min-height: 700px;
        }

        @include responsive-max(768px) {
            min-height: 650px;
            @include padding(0, 0, 40, 0);
        }

        @include responsive-max(576px) {
            min-height: 600px;
            padding: 0;
        }

        @include responsive-max(480px) {
            min-height: 580px;
        }


        .container {
            @include flex(center, flex-start, column);

            .banner-title {
                font-size: 4.1rem;
                font-weight: 600;
                margin: 0 0 1rem;
                color: rgb(255, 255, 255);
                max-width: 800px;
                z-index: 1;

                //responsive
                @include responsive-max(1280px) {
                    @include font-size(55);
                }

                @include responsive-max(991px) {
                    @include font-size(50);
                }

                @include responsive-max(768px) {
                    @include font-size(45);
                }

                @include responsive-max(576px) {
                    @include font-size(40);
                }

                @include responsive-max(480px) {
                    @include font-size(36);
                }
            }

            .banner-content {
                font-size: 1.25rem;
                z-index: 1;
                max-width: 600px;
                color: #fff;
                opacity: .9;
                margin: 1.4rem 0 0;
                @include line-height(30);

                //responsive
                @include responsive-max(768px) {
                    @include font-size(18);
                    @include line-height(28)
                }

                @include responsive-max(576px) {
                    font-size: 1.1rem;
                }

                @include responsive-max(415px) {
                    font-size: 1rem;
                }

            }

            .over-play {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: var(--layer);
                z-index: 0;
            }
        }


    }
}